.card {
    width: 100px;
    height: 150px;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 2px grey;
    float: left;
    margin: 15px;
    transition: 0.5s all;
}

.card:hover {
    box-shadow: 15px 15px 10px grey;
    transform: rotate(2deg) scale(1.2);
}

.rank {
    padding: 10px 0px 0px 10px;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

.color {
    text-align: center;
    font-size: 100px;
    margin-top: -20px;
}
